<template name="app">
    <section class="hero">
      <div class="texture-overlay"></div>
      <div class="container">
         <div class="row nav-wrapper">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
               <div class="main-logo">
                  frolic
               </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
               <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
            </div>
         </div>
         <div class="row hero-content">
            <div class="col-md-6" style="top : 64px;">
               {{> videoPlayer}}
            </div>
            <div class="col-md-6">
               {{> learnMore}}
            </div>
         </div>
      </div>
   </section>
   {{> screenShots}}
   {{> footer}}
   {{> nav}}

</template>
<!-- <template name="myTemplate">
   <div id="youtube-video">
   </div>
</template> -->
