<template name="footer">
   <footer>
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <h1 class="footer-logo">
               frolic
               </h1>
               <p>© Avatar Labs 2015 - <a href="http://tympanus.net/codrops/licensing/">Licence</a> - Designed &amp; Developed by <a href="http://www.avatarlabs.in/">Avatar Labs</a></p>
            </div>
            <div class="col-md-7">
               <ul class="footer-nav">
                  <li><a href="#about">About</a></li>
                  <!-- <li><a href="#features">Features</a></li> -->
                  <li><a href="#screenshots">Screenshots</a></li>
                  <!-- <li><a href="#download">Download</a></li> -->
               </ul>
            </div>
         </div>
      </div>
   </footer>
</template>
