<template name="learnMore">
   <h1 class="animated fadeInDown">An Exclusive, Premium HTML5 &amp; CSS3 Template by Peter Finlan, for Codrops.</h1>
   <div class="use-btn animated fadeInUp" >
      <a href="http://tympanus.net/codrops/?p=22554">
      <img src="/img/gpicon.jpg" alt="Google Play" width="50px" height="25px"/>
      Download <b>frolic</b> here</a>
   <!-- <div>

         Get it on
         <b>Android</b>

   </div>
   <div class="fa-icon">
      <i class="fa fa-android"></i>
   </div> -->
   </div>

   <a href="#screenshots" class="learn-btn animated fadeInUp">Screen shots <i class="fa fa-arrow-down"></i></a>

</template>
