<template name="nav">
   <div class="overlay overlay-boxify">
      <nav>
         <ul>
            <li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
            <!-- <li><a href="#features"><i class="fa fa-flash"></i>Features</a></li> -->
         </ul>
         <ul>
            <li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
            <!-- <li><a href="#download"><i class="fa fa-download"></i>Download</a></li> -->
         </ul>
      </nav>
   </div>

</template>
